/*style.css*/

p {
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: #007BFF;
    background-color: white;
}

ul {
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: #007BFF;
    background-color: white;

}

li {
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: #007BFF;
    background-color: white;

}